* {
    box-sizing: border-box;
}

:root {
    --background-color: #ededed;
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    font-size: 62.5%;
}

/* Body Styling */
body {
    background: var(--background-color);
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

/* Header Styling */
header {
    width: 80%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

header div.timer {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

/* General Main Styling */
main {
    font-size: 2rem;
    width: 70%;
}

main h2 {
    font-size: 36px;
}
main #title-heading {
    text-align: center;
}

/* Styling for Start Quiz screen */
#test-begin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

/* General Button Styling */
button {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background: #351c75;
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
  }
  button:hover {
    background: #bd60e7;
    box-shadow: 0 2px var(--grey);
    top: -2px;
  }
  button:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
  }

/* Answers Styling */
#answers-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 50px;
}
#answers-list li {
    padding: 5px;
}
#answers-list button {
    text-align: left;
    width: 100%;
}

/* Quiz End Styling */
#quiz-end {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

#quiz-end span, #quiz-end input {
    margin: auto 0;
    padding: 15px 5px;
}

footer { 
    margin-top: 10px;
    display: none;
    width: 70%;
}

footer hr {
    width: 100%;
}
footer p {
    font-size: 2rem;
    color: gray;
    font-style: italic;
}


@media screen and (max-width: 768px) {

    button {
        font-size: 2rem;
    }

    main {
        width: auto;
        margin: 20px;
    }
    main h2 {
        font-size: 28px;
    }

    #answers-list {
        margin-left: -25px;
    }

    #quiz-end {
        justify-content: space-between;
    }
    #quiz-end button {
      width: 100%;
    }
    #quiz-end span, #quiz-end input {
        width: 45%;
    }
  
  }
  